@model StellerPortfolioAcunMedyaAkademi.Models.TblAbout
@{
    ViewBag.Title = "UpdateAbout";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>Hakkımızda Yazısı Güncelleme Sayfası</h3>


<form class="form-group" method="post">
    <input type="hidden" name="AboutID" value="@Model.AboutID" />
    <label>Resim Url</label>
    <input type="text" name="ImageUrl" value="@Model.ImageUrl" class="form-control" placeholder="Lütfen Boş Bırakmayınız." />
    <br />
    <label>Adınız Soyadınız</label>
    <input type="text" name="NameSurname" value="@Model.NameSurname" class="form-control" placeholder="Lütfen Boş Bırakmayınız." />
    <br />
    <label>Ünvan</label>
    <input type="text" name="Title" value="@Model.Title" class="form-control" placeholder="Lütfen Boş Bırakmayınız." />
    <br />
    <label>Açıklama</label>
    <input type="text" name="Description" value="@Model.Description" class="form-control" placeholder="Lütfen Boş Bırakmayınız." />
    <br />
    <button class="btn btn-info">Güncelle</button>
</form>